/* trivia of the day */
.content {
    margin: 70px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content h1 {
    font-size: 3rem;
    text-align: center;
    text-shadow: 1px 0 1px #CCCCCC, 0 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}
/* trivia */
.trivia {
    width: 50%;
    margin: 80px 0 0 0;
    display: flex;
    background: linear-gradient(90deg, rgba(8,50,130,1) 0%, rgba(28,69,147,1) 100%);
    color: white;
    border-radius: 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.trivia #more {
    display: none;
}
.trivia .left {
    width: 65%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.trivia .left h2,
.trivia .left h3 {
    text-align: left;
}
.trivia .left h3 {
    opacity: 0.5;
}
.trivia .left .trivia_post {
    margin: 10px 0 0 0;
    font-size: 1rem;
}
.trivia .left .trivia_user {
    opacity: 0.5;
    margin: auto 0 0 0;
    padding: 10px 0 0 0;
}
.trivia .right {
    width: 35%;
    padding: 5px;
}
.trivia img {
    width: 90%;
    border-radius: 3px;
}